/* unvisited link */
a.bookslink:link {
  text-decoration: none;
}

/* visited link */
a.bookslink:visited {

}

/* mouse over link */
a.bookslink:hover {
  color: green;
}

/* selected link */
a.bookslink:active {
  color: blue;
}