/* unvisited link */
a.myLink:link {
  text-decoration: none;
}

/* visited link */
/* a.myLink:visited {
  color: red;
} */

/* mouse over link */
a.myLink:hover {
  color: green;
}

/* selected link */
a.myLink:active {
  color: blue;
}